@charset "UTF-8";


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat__Subrayada';
    src: url('../fonts/Montserrat_Subrayada/MontserratSubrayada-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat__Alternates';
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
}

#background__image {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), no-repeat url('../img/comprimida/background__image.webp');
    color: white;
}

.montserrat {
    font-family: 'Montserrat';
}

.div_section--background {
    padding: 220px 0px;
    text-align: center;
}

.menu__transpente {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.nav-link {
    color: white;
}


/* Styles of session_about */
.width__50 {
    width: 50%;
}

.border-red {
    border: 10px solid black;
}

.paragraph {
    line-height: 33px;
    font-family: 'Montserrat__Alternates';
}

.Montserrat__Subrayada {
    font-family: 'Montserrat__Subrayada';
}

/* Section of the CURIOSIDADES */

.Montserrat_Alternates {
    font-family: 'Montserrat__Alternates';
}

.width__25 {
    width: 25%;
}

.width__33 {
    width: 33%;
}
